.table {
  border-spacing: 0px;
}

i {
  font-size: 1rem !important;
}

tr td:last-child,
tr th:last-child {
  border-radius: 0 .625rem .625rem 0;
}
tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}
#g-table tbody tr > td{
  height: 30px;
}
#g-table{
}
.espacio{
  height:15px;
}
